@import 'nib'

*
  box-sizing: border-box

@font-face
  font-family: "Entypo"
  src: url('fonts/entypo/Entypo-webfont.eot')
  src: url('fonts/entypo/Entypo-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/entypo/Entypo-webfont.woff') format('woff'), url('fonts/entypo/Entypo-webfont.ttf') format('truetype'), url('fonts/entypo/entypo-webfont.svg') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Oleo"
  src: url('fonts/oleo/Oleo-webfont.eot')
  src: url('fonts/oleo/Oleo-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/oleo/Oleo-webfont.woff') format('woff'), url('fonts/oleo/Oleo-webfont.ttf') format('truetype'), url('fonts/oleo/Oleo-webfont.svg') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Roboto"
  src: url('fonts/roboto/Roboto-webfont.eot')
  src: url('fonts/roboto/Roboto-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/roboto/Roboto-webfont.woff') format('woff'), url('fonts/roboto/Roboto-webfont.ttf') format('truetype'), url('fonts/roboto/Roboto-webfont.svg') format('svg')
  font-weight: normal
  font-style: normal

body
  background: url('/img/bg.gif')
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  font-size: 16px
  color: #666
  text-shadow: 0 1px 0 #fff
  transition: all .1s
  margin: 0

h1, h2, h3, h4, h5, h6
  font-family: 'Oleo'

h2
  font-size: 48px
  margin-bottom: 20px
  margin-top: 0

h3
  font-size: 24px

.start
  background: url('/img/big_bg.jpg') no-repeat center center fixed !important
  background-size: cover

#fb-login
  display: block
  text-align: center
  font-weight: 200
  font-size: 2em
  width: 100%
  padding: 10px 20px 10px 20px
  text-decoration: none
  background: #3a68c2
  color: #fff
  border-radius: 3px
  border: solid 1px #1b3564
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 1)
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 2px 5px rgba(0, 0, 0, 0.2)
  transition-duration: 0.2s
  user-select: none
  padding: 0.5em 0
  em
    font-family: 'Oleo', cursive
  img
    position: relative
    top: 7px
    left: 4.4%
  &:hover
    background: #274c90
    border: 1px solid #1b3564
    text-decoration: none
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 1px rgba(0, 0, 0, 0.2)
  &:active
    background: #1a325f
    border: 1px solid #f4f4f4
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0px 0px rgba(0, 0, 0, 0.2)

.login-screen
  margin: 50px auto
  text-align: center
  color: #fff
  text-shadow: 0 1px 0 rgba(0,0,0,1)
  width: 60%
  padding: 5%
  background: rgba(0,0,0,0.3)
  box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.7)
  border-radius: 3px
  .intro-text
    font-size: 18px
  h2
    margin: 0

.logo
  transition-duration: 1s
  transform: rotate(0deg)
  &:hover
    transition-duration: 1s
    transform: rotate(90deg)

.app
  display: none
  width: 100%

.container
  padding: 0 25px

.header
  background: #f7f7f7
  padding: 15px
  margin-bottom: 40px
  border-bottom: 1px solid #ddd
  .container
    width: 245px
    margin: 0 auto
    .disc
      margin-right: 5px
      transition-duration: 1s
      transform: rotate(0deg)
      &:hover
        transition-duration: 1s
        transform: rotate(180deg)
    .text
      position: relative
      top: 5px

.arrow
  position: fixed
  left: 0
  bottom: 150px

.app-description
  width: 30%
  float: left
  // background: rgba(0,0,0,0.04)
  // padding: 0 20px 20px
  // box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.4)
  // border-radius: 3px
  padding: 0 20px 20px
  border-left: 1px solid #ddd
  color: #999
  p
    line-height: 24px

.events-list
  width: 70%
  float: left

.event
  float: left
  margin: 0 30px 50px 0
  width: 150px
  .event-img
    width: 100%
    height: 150px
    border-radius: 2px
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
  p
    width: 100%
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    margin: 0
  .title
    line-height: 36px

  .create-playlist
    background: none repeat scroll 0 0 #F9F9F9
    border: 1px solid #E4E4E4
    border-radius: 3px 3px 3px 3px
    box-shadow: 0 1px 0 #FFFFFF inset, 0 2px 5px rgba(0, 0, 0, 0.2)
    color: #BF4900
    font-size: 14px
    font-weight: normal
    padding: 10px 20px
    text-align: center
    text-decoration: none
    text-shadow: 1px 1px 0 #FFFFFF
    transition-duration: 0.2s
    width: 100%
    img
      margin-right: 0.3em
      margin-bottom: -0.1em
      transition-duration: 0.2s
      transform: rotate(0deg)
      position: relative
      top: 2px
    &:hover
      cursor: pointer
      background: #f9f9f9
      border: 1px solid #e4e4e4
      text-decoration: none
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1), 0 1px 1px rgba(0, 0, 0, 0.2)
      img
        transition-duration: 0.2s
        transform: rotate(20deg)
    &:active
      background: #ebebeb
      border: 1px solid #f4f4f4
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0px 0px rgba(0, 0, 0, 0.2)

.meta
  border-top: 1px solid #fff
  color: #aeaeae
  font-size: 14px
  line-height: 36px
  margin-bottom: 20px !important

  span
    text-align: center
    width: 50%
    display: inline-block
    img
      margin-right: 5px
      position: relative
      top: 1px
  span:first-child
    border-right: 1px solid #aeaeae
  span:last-child
    margin-left: -3px
    border-left: 1px solid #ffffff

// i
//   font-family: 'Entypo'
//   font-style: normal
//   font-size: 28px
//   margin-right: 5px
//   position: relative
//   top: 1px
//   .clock
//     top: 3px


.border-bottom
  border-bottom: 1px solid #666

